/* CSS Sample File */

/* Targeting an Element by Name */
body {
	font-family: Verdana;
	text-align: center;
}
h4, .dog {
	color: #ae6325;
;
}

/* Targeting an Element by Class */
.form {
	color: #ae6325;
    font-weight: bold;
}
.dog {
	height: 25%;
	width: 25%;
}

/* Targeting an element by ID */
#button {
	color: #ae6325;
	font-weight: bold;
}
#random_header {
	text-transform: uppercase;
}