/* CSS Sample File */

/* Targeting an Element by Name */
body {
	font-family: Verdana;
	text-align: center;
	border-style: solid;
}
h4 {
	color: #ae6325;
;
}

/* Targeting an Element by Class */
.form {
	color: #ae6325;
    font-weight: bold;
}
.capitalize{
	text-transform: uppercase;
}
#dog {
	height: 25%;
	width: 25%;
}

/* Targeting an element by ID */
#button {
	color: #ae6325;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}