<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Random Number Generator</title>
</head>
<link rel=stylesheet href="/css/app.css" type="text/css">
<body>
	<h4>
		<span class="capitalize">Fetch</span> a Random Number
	</h4>
	<h5>Between 0 and <span class="capitalize">"Max"</span></h5>

	<img src=/images/doggie.jpg alt="golden retreiver" id="dog">

	<br>
	<br>

	<form method="post" action="/random" class="form">

		<span class="capitalize">Max:   </span><input type="number" name="max" value="10" required> <br>
		<br>

		<button id="button">Random Number</button>

	</form>
	<br> {{#rn}} Your Random Number is: {{ rn.getResult }} {{/rn}}

	<br>
	<br>
	<a href="http://nhspca.org/" target="_blank">Go to the NHSPCA Site</a>
	<br>
	<br>
</body>
</html>