<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Random Number Generator</title>
</head>
<link rel=stylesheet href="/style/app.css" type="text/css">
<body>
	<h4>Fetch a Random Number</h4>
	<h5>Between 0 and "Max"</h5>

	<img src=/images/doggie.jpg alt="golden retreiver" class="dog">
	
	<br>
	<br>
	
	<form method="post" action="/random" class="form">
	
	Max: <input type="number" name="max" value="10" required>
	
	<br>
	<br>
	
		<button id="button">Random Number</button>

	</form>
	<br>

	{{#rn}}
	
		Your Random Number is: {{ rn.getResult }}
	
	{{/rn}}

</body>
</html>